<header>
	<nav class="navbar navbar-silk-way">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				{% if logo %}
					<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
				{% else %}
					<h1><a href="{{ home }}">{{ name }}</a></h1>
				{% endif %}
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				{{ position2 }}
				<div class="navbar-form navbar-left">{{ search }}</div>
				<ul class="nav navbar-nav navbar-right">
					<li id="top-links" class="nav header-dropdown">
						<ul class="list-inline">
							<li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="ion-android-person icons"></i> <span class="hidden-xs">{{ text_account }}</span> <i class="icon-right ion-ios-arrow-down"></i></a>
								<ul class="dropdown-menu dropdown-menu-right pt-account">
									{% if logged %}
										<li><a href="{{ account }}">{{ text_account }}</a></li>
										<li><a href="{{ order }}">{{ text_order }}</a></li>
										<li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
										<li><a href="{{ download }}">{{ text_download }}</a></li>
										<li><a id="pt-logout-link" href="{{ logout }}">{{ text_logout }}</a></li>
									{% else %}
										<li><a id="pt-register-link" href="{{ register }}">{{ text_register }}</a></li>
										<li><a id="pt-login-link" href="{{ login }}">{{ text_login }}</a></li>
									{% endif %}
								</ul>
							</li>
						</ul>
					</li>
					<a href="{{ home }}index.php?route=account/order" class="btn btn-default btn-lg">Отследить груз</a>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</header>
