<div id="sw_benefit" class="container">
    <h2>{{ lang['heading_title'] }}</h2>
    <h3>{{ lang['description'] }}</h3>
    <div class="row">
        {% for value in data %}
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="card">
                    <img src="/image/{{ value['photo'] }}" alt="{{ value['photo'] }}">
                    <p>{{ value['name'] }}</p>
                    <p>{{ value['description'] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="text-center">
            <button class="btn btn-default">{{ lang['button'] }}</button>
        </div>
    </div>
</div>