{{ header }}{{ column_left }}

<div id="content">
    <div class="loader-block hidden">
        <div class="loader"></div>
    </div>
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                    <div class="col-sm-10">
                        <select name="module_{{ module_name }}_status" id="input-status" class="form-control">
                            {% if status %}
                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                <option value="0">{{ text_disabled }}</option>
                            {% else %}
                                <option value="1">{{ text_enabled }}</option>
                                <option value="0" selected="selected">{{ text_disabled }}</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs">
            {% for key, value in sw_module %}
                <li
                    {% if loop.first %}
                        class="active"
                    {% endif %}
                >
                    <a href="#" data-action="{{ key }}">{{ key }}</a>
                </li>
            {% endfor %}
        </ul>

        {% for key_table, value_table in sw_module %}

            {% for data in value_table['data'] %}
                <form id="{{ key_table ~ data['id'] }}" class="hidden create"></form>
            {% endfor %}
            <form id="{{ key_table }}" class="hidden create"></form>

            {% if value_table['info'] is not empty %}
                <table class="table table-bordered table-hover {% if loop.index > 1 %} sw-hidden {% endif %}" data-id="{{ key_table }}">
                    <thead>
                        <tr>
                            {% for info in value_table['info'] %}
                                <td class="text-left">{{ info['Comment'] }}</td>
                            {% endfor %}
                            <td class="text-right">Действие</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in value_table['data'] %}
                            <tr data-id="{{ key_table ~ data['id'] }}" data-sort="{{ data['sort'] }}" >
                                {% for key, value in data %}
                                    <td class="text-left">
                                        {% if (sw_module[key_table]['info'][key]['Type'] == 'int(11)' or sw_module[key_table]['info'][key]['Type'] == 'int') %}
                                            {% if key == 'id' %}
                                                {{ value }}
                                            {% else %}
                                                <input type="number" name="{{ key }}" min="1" max="1000" form="{{ key_table ~ data['id'] }}" value="{{ value }}" required>
                                            {% endif %}
                                        {% else %}
                                            {% if key == 'photo' %}

                                                {% if value is empty %}
                                                    {% set value = 'no_image.png' %}
                                                {% endif %}

                                                <div>
                                                    <a href="#" id="thumb-image{{ key_table ~ data['id'] }}" data-toggle="image" class="img-thumbnail">
                                                        <img src="/image/{{ value }}" alt="" title="" data-placeholder="/image/no_image.png" width="100" />
                                                    </a>
                                                    <input type="hidden" name="{{ key_table ~ key }}" value="{{ value }}" id="input-image{{ key_table ~ data['id'] }}" form="{{ key_table ~ data['id'] }}" />
                                                </div>
                                            {% else %}
                                                <input type="text" name="{{ key_table ~ key }}" maxlength="1000" form="{{ key_table ~ data['id'] }}" value="{{ value }}" required>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                                <td class="text-right">
                                    <button type="submit" form="{{ key_table ~ data['id'] }}" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="{{ text_button_update }}">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button data-id="{{ key_table ~ data['id'] }}" data-toggle="tooltip" title="" class="btn btn-warning button-delete-js" data-original-title="{{ text_button_delete }}">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}

                        <tr data-name="create">
                            {% for key, value in sw_module[key_table]['info'] %}
                                <td class="text-left">
                                    {% if (value['Type'] == 'int(11)' or value['Type'] == 'int') %}
                                        {% if key != 'id' %}
                                            <input type="number" name="{{ key }}" min="1" max="1000" form="{{ key_table }}" required>
                                        {% endif %}
                                    {% else %}
                                        {% if key == 'photo' %}
                                            <div>
                                                <a href="#" id="thumb-image-create{{ key_table }}" data-toggle="image" class="img-thumbnail">
                                                    <img src="/image/no_image.png" alt="" title="" data-placeholder="/image/no_image.png" width="100" />
                                                </a>
                                                <input type="hidden" name="{{ key_table ~ key }}" value="" id="input-image-create{{ key_table }}" form="{{ key_table }}" />
                                            </div>
                                        {% else %}
                                            <input type="text" name="{{ key }}" maxlength="1000" form="{{ key_table }}" required>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td class="text-right">
                                <button type="submit" form="{{ key_table }}" data-toggle="tooltip" title="" class="btn btn-success" data-original-title="{{ text_button_create }}">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}

        {% endfor %}
    </div>
</div>


<script>
    const enable_link = '{{ enable_link }}';
    const cud_link = '{{ cud_link }}';
    const text_button_update = '{{ text_button_update }}';
    const text_button_delete = '{{ text_button_delete }}';
</script>

{{ footer }}