{{ header }}{{ column_left }}

<div id="content">
    <div class="loader-block hidden">
        <div class="loader"></div>
    </div>
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                    <div class="col-sm-10">
                        <select name="module_sw_shipping_information_status" id="input-status" class="form-control">
                            {% if module_sw_shipping_information_status %}
                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                <option value="0">{{ text_disabled }}</option>
                            {% else %}
                                <option value="1">{{ text_enabled }}</option>
                                <option value="0" selected="selected">{{ text_disabled }}</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        {% for data in sw_shipping_information['data'] %}
            <form id="{{ data['id'] }}" class="hidden"></form>
            <form id="insert" class="hidden"></form>
        {% endfor %}

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    {% for info in sw_shipping_information['info'] %}
                        <td class="text-left">{{ info['Comment'] }}</td>
                    {% endfor %}
                    <td class="text-right">Действие</td>
                </tr>
            </thead>
            <tbody>
                {% for data in sw_shipping_information['data'] %}
                    <tr data-id="{{ data['id'] }}">
                        {% for key, value in data %}
                            <td class="text-left">
                                {% if sw_shipping_information['info'][key]['Type'] == 'int(11)' %}
                                    {% if key == 'id' %}
                                        {{ value }}
                                    {% else %}
                                        <input type="number" name="{{ key }}" min="1" max="1000" form="{{ data['id'] }}" value="{{ value }}">
                                    {% endif %}
                                {% else %}
                                    {% if key == 'photo' %}

                                        {% if value is empty %}
                                            {% set value = 'no_image.png' %}
                                        {% endif %}

                                        <div>
                                            <a href="#" id="thumb-image{{ data['id'] }}" data-toggle="image" class="img-thumbnail">
                                                <img src="/image/{{ value }}" alt="" title="" data-placeholder="/image/no_image.png" width="100" />
                                            </a>
                                            <input type="hidden" name="{{ key }}" value="{{ value }}" id="input-image{{ data['id'] }}" form="{{ data['id'] }}" />
                                        </div>
                                    {% else %}
                                        <input type="text" name="{{ key }}" maxlength="1000" form="{{ data['id'] }}" value="{{ value }}">
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td class="text-right">
                            <button type="submit" form="{{ data['id'] }}" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="Редактировать">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button data-id="{{ data['id'] }}" data-toggle="tooltip" title="" class="btn btn-warning" data-original-title="Удалить">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>

                    {% if data['id'] == sw_shipping_information['data']|last['id'] %}
                        <tr>
                            {% for key, value in data %}
                                <td class="text-left">
                                    {% if sw_shipping_information['info'][key]['Type'] == 'int(11)' %}
                                        {% if key != 'id' %}
                                            <input type="number" name="{{ key }}" min="1" max="1000" form="insert">
                                        {% endif %}
                                    {% else %}
                                        {% if key == 'photo' %}
                                            <div>
                                                <a href="#" id="thumb-image-insert" data-toggle="image" class="img-thumbnail">
                                                    <img src="/image/no_image.png" alt="" title="" data-placeholder="/image/no_image.png" width="100" />
                                                </a>
                                                <input type="hidden" name="{{ key }}" value="" id="input-image-insert" form="insert" />
                                            </div>
                                        {% else %}
                                            <input type="text" name="{{ key }}" maxlength="1000" form="insert">
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td class="text-right">
                                <button type="submit" form="insert" data-toggle="tooltip" title="" class="btn btn-success" data-original-title="Активировать">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    const link = '{{ link }}';
</script>

{{ footer }}